.container {
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: navy;
    border: 1px solid black;
}